<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h1>ParaScout</h1>
</header>
<div class="container">
    <h2>Events</h2>

    {% for event in events %}
        <a href="view/events/{{ event.event_id }}" class="button">{{ event.name }}</a>
    {% endfor %}
</div>
<footer>
    <p>© 2024 FRC Team 9609 Paraducks</p>
</footer>
</body>
</html>

