<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h1>Parascout</h1>
</header>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Team Number</th>
            <th>Event</th>
            <th>Match Number</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.team_id }}</td>
                <td>{{ match.event_id }}</td>
                <td>{{ match.match_id }}</td>
                <td>{{ match.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer>
    <p>&copy; 2024 FRC Scouting Team</p>
</footer>
</body>
</html>