<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ event.name }} - Teams</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>
<body>
<header>
    <h1>{{ event.name }} Event</h1>
</header>
<div class="container">
    <h2>Teams</h2>
    <table class="sortable">
        <thead>
        <tr>
            <th>Team ID</th>
            <th>Team Name</th>
            <th>Average Auto Pieces</th>
            <th>Average Teleop Pieces</th>
        </tr>
        </thead>
        <tbody>
        {% for stats in team_stats %}
        <tr>
            <td>{{ stats.team.team_id }}</td>
            <td><a href="{{ event.event_id }}/{{ stats.team.team_id }}">{{ stats.team.name }}</a></td>
            <td>{{ stats.average_auto_points }}</td>
            <td>{{ stats.average_teleop_points }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer>
    <p>© 2024 FRC Team 9609 Paraducks</p>
</footer>
</body>
</html>