<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ team.name }} - Matches</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>
<body>
<header>
    <h1>Team {{ team.team_id }} - {{ team.name }}</h1>
</header>
<div class="container">
    <div class="info-container">
        <div class="info-left">
            <p>Preferred Auto Starting Position: {{ preferred_auto_start_position }}</p>
            <p>Average Teleop Points: {{ average_teleop_points }}</p>
            <p>Average Auto Points: {{ average_auto_points }}</p>
        </div>
        <div class="info-right">
            <!-- Placeholder for other information -->
            <p>Other Info: TBD</p>
        </div>
    </div>
    <h2>Matches</h2>
    <table class="sortable">
        <thead>
        <tr>
            <th>Match ID</th>
            <th>Auto Pieces</th>
            <th>Teleop Pieces</th>
            <th>Defense</th>
            <th>Auto Start Position</th>
            <th>Auto Successful</th>
            <th>Auto Target Pieces</th>
            <th>Endgame</th>
            <th>Driver Ability</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.match_id }}</td>
                <td>{{ match.auto_pieces }}</td>
                <td>{{ match.teleop_pieces }}</td>
                <td>{{ 'Yes' if match.defense else 'No' }}</td>
                <td>{{ match.auto_start_position }}</td>
                <td>{{ match.auto_target_pieces }}</td>
                <td>{{ 'Yes' if match.auto_successful else 'No' }}</td>
                <td>{{ match.endgame }}</td>
                <td>{{ match.driver_ability }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer>
    <p>© 2024 FRC Team 9609 Paraducks</p>
</footer>
</body>
</html>