<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParaScout - Match Scouting</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h1>ParaScout</h1>
</header>
<div class="container">
    <h2>Scouting Success!</h2>
    &nbsp;
    <div class="buttons">
        <a href="../scout/pit" class="button">Pit</a>
        <a href="../scout/match" class="button">Match</a>
        <a href="/" class="button">Home</a>
    </div>
</div>
<footer>
    <p>© 2024 FRC Team 9609 Paraducks</p>
</footer>
</body>
</html>