html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ffff00;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 2em;
    text-align: center;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333333;
    border: 5px solid black;
}

th, td {
    color: white;
    padding: 12px;
    text-align: left;
    max-width: 10%;
    text-wrap: normal;
    border-bottom: 1px solid #ffff00;
}

a {
    color: white;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

th {
    background-color: #000000;
    color: #ffff00;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #2a2a2a;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #000000;
    border-radius: 5px;
    border: 2px solid #555;
}

input[type='checkbox']:checked {
    background: #ffff00;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    align-items: center;
    margin: 0 auto 20px;
}

.button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    width: 60%;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.button-100 {
    width: 100%;
}

.button:hover {
    background-color: #ffff00;
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    border-top: 2px solid #ffff00;
    position: relative;
    width: 100%;
    bottom: 0;
}

.scout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 1.1em;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #2a2a2a;
    color: #ffffff;
}

.add-event-section {
    margin-bottom: 40px;
    width: 100%;
    max-width: 400px;
}

.events-section {
    width: 100%;
    max-width: 800px;
}

@media (max-width: 600px) {
    .buttons {
        gap: 10px;
    }

    .button {
        padding: 10px 20px;
        font-size: 1.5em;
    }

    .scout-form {
        gap: 15px;
    }

    #teamList {
        justify-content: space-between;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        display: block;
        text-align: right;
        padding: 10px;
        font-size: 1em;
    }

    th::before, td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    th, td {
        border: none;
        border-bottom: 1px solid #ffff00;
    }

    tr {
        display: block;
        margin-bottom: 10px;
    }

    tr:nth-child(even) {
        background-color: transparent;
    }

    table.sortable,
    table.sortable tbody,
    table.sortable tr,
    table.sortable td {
        display: block;
        width: 100%;
    }

    table.sortable tr {
        margin-bottom: 15px;
    }

    table.sortable td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table.sortable td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.delete-button {
    background-color: #ff4136;
    padding: 5px 10px;
    font-size: 0.9em;
}

.delete-button:hover {
    background-color: #ff7b6e;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #333333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content .button {
    margin-right: 10px;
}

#confirmDelete {
    background-color: #ff4136;
}

#confirmDelete:hover {
    background-color: #ff7b6e;
}

#cancelDelete {
    background-color: #333333;
}

#cancelDelete:hover {
    background-color: #4a4a4a;
}

.match-number-container {
    display: flex;

}

.match-number-container select {
    flex: 1;
    max-width: 33.33%;
    margin-right: 10px;
}

.match-number-container input {
    flex: 2;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #ffff00;
}

#teamList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.team-card {
    background-color: #333333;
    border: 1px solid #ffff00;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.team-card:hover {
    background-color: #4a4a4a;
}

.info-left, .info-right {
    width: 100%;
}

.info-left p, .info-right p {
    margin: 5px 0;
}

.text-large {
    font-size: 1.25em;
}

.info-box {
    display: flex;
    border: 1px solid #ffff00;
    padding: 10px;
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    flex: 1;
    margin-right: 10px;
    max-width: 48%;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-box:last-child {
    margin-right: 0;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.return-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.return-button:hover {
    background-color: #0056b3;
}

.width-return {
    width: 120px;
}