<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParaScout</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h1>ParaScout</h1>
</header>
<div class="container flex-center">
    <div class="buttons">
        <h2>Scouting</h2>
        <a href="scout/pit" class="button">Pit</a>
        <a href="scout/match" class="button">Match</a>
        &nbsp;
        <a href="view/events" class="button">View Data</a>
        &nbsp;
        <a href="/admin/login" class="button">Admin</a>
    </div>
</div>
<footer>
    <p>© 2024 FRC Team 9609 Paraducks</p>
</footer>
</body>
</html>